.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}
/* position is sticky cause I want to keep the search box stick to the top when user will scroll down the page */

.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.listResult{
    flex: 3;
}