
.navbar{
    height: 150px;
    background-color: rgb(4, 180, 180);
    display: flex;
    justify-content: center;
    position: relative;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: rgb(237, 232, 232);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin: 0px 550px 30px 0px;
    padding: 10px 20px;

}

.logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color: rgb(247, 238, 238);
    

}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(5, 94, 94);
    font-weight: bolder;
    border: solid 1px black;
    background-color: white;   
    border-radius: 5px;
}

.navbarList{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.navbarListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
    
}
.navbarRegisterItems {
    display: flex;
    align-items: center; 
    margin-left: 1200px; 
    gap: 0;
}


.navbarListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}


